* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99.4%;
    z-index: -1024;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    filter: blur(2px);
}

.welcome-section {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 40%;
    z-index: 1024;
    color: #fff;
    text-align: center;
}

.welcome-section h1 {
    font-size: 5rem;
    font-family: cookie;
}

.btn-a {
    text-align: center;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    font-family: sans-serif;
    padding: 10px;
    border-radius: 12px;
    background-color: #b38600;
}

.card-body, .gallary-body {
    background-color: #151719;
    background-image: url('https://media.istockphoto.com/id/1170937163/vector/seamless-pattern-in-patchwork-style-embroidered-print-for-carpet-textile-wallpaper-wrapping.jpg?s=612x612&w=0&k=20&c=rQIpubidLIjCONy7gu4aacrOcPcHVjaGEImmdUDShS4=');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    animation: bgfade 2s;
    -webkit-animation: bgfade 2s;
    color: #fff;
}

.card-header {
    margin-top: 2rem;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.topnav {
    width: 70%;
    height: fit-content;
    padding: 15px 10px;
    background-color: rgba(184, 124, 46, 0.884);
    display: flex;
    align-items: center;
    justify-content: center;
}

.topnav h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: "Cookie";
    width: 100%;
    z-index: 1;
    opacity: 1;
}

#imgPharoh {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

#imgPharoh:hover {
    animation-name: rollOver;
    animation-duration: 0.8s;
    animation-iteration-count: 2;
}

@keyframes rollOver {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.topnav:hover {
    animation-name: fadee;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes fadee {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.5);
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 13rem;
    height: 10rem;
}

img {
    width: 100%;
    height: 8rem;
    border-radius: 15px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

a {
    font-family: sans-serif;
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
}

.two-cards {
    width: 15rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0;
    background-color: rgba(184, 124, 46, 0.884);
    width: 15rem;
    height: 12rem;
    border-radius: 20px;
}

.card:hover{
    background-color: #ffffffc9;
    scale: 1.1;
    transition: 0.2s ease;
}

h4 {
    margin-top: 5px;
}
h4:hover{
    color: rgb(184, 124, 46);
}
.gallary-container{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.gallarys{
    margin: 1rem;
    width: fit-content;
    height:5rem ;
}