@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@300;400;500;600;700;800;900&family=Kaushan+Script&family=Maven+Pro&family=Montserrat:wght@200;300;500;700;800;900&family=Open+Sans|Roboto:400,700&display=swap&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: "Quicksand", serif;
  margin-bottom: 5rem;

}

.top-header {
  background-color: #bf8040;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
}


#imgPharoh {
  position: absolute;
  top: 0.7rem;
  left: 1.5%;
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
}

#imgPharoh:hover {
  animation-name: rollOver;
  animation-duration: 0.8s;
  animation-iteration-count: 2;
}

@keyframes rollOver {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.fa-cart-plus {
  font-size: 1.4rem;
  letter-spacing: 1.1px;
  border-radius: 16.5px;
  color: whitesmoke;
  transition: opacity 0.4s ease-out;
  font-size: 1.35rem;
  cursor: pointer;
  position: absolute;
  top: 1.4rem;
  right: 5rem;

}



.btn:hover {
  color: whitesmoke;
  background: black;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 6rem;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.filter-btn {
  background: transparent;
  font-size: 1.1rem;
  text-transform: capitalize;
  margin: 0 0.55rem;
  letter-spacing: 1.1px;
  border-radius: 16.5px;
  padding: 0.3755rem 0.755rem;
  color: rgb(252, 242, 242);
  cursor: pointer;
  transition: opacity 0.4s ease-out;
}

.filter-btn:hover {
  transition: 0.2s;
  background: aliceblue;
  color: black;
}

.filterbtn::selection {
  background: aliceblue;
  color: black;
}

.photo {
  width: 20rem;
  height: 12rem;
  border-radius: 15px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-center {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


h2 {
  text-align: center;
  font-size: 1.8rem;
}

.menu-item {
  border-radius: 20px;
  padding: 0.5rem;
  background-color: #f9f2ec;
  box-shadow: 1px 4px 44px rgba(0, 0, 0, 0.9);
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px double black;
}

.item-info h4 {
  margin-bottom: 0.5rem;
}

.price {
  color: whitesmoke;
}

.item-text {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0;
  padding-top: 1rem;
}


.btn-container::after {
  background: var(--primary-color);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.5s;
}

.fa-bars {
  color: rgb(252, 242, 242);
  transition: opacity 0.4s ease-out;
  margin: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1027;
  display: none;
}

@media (max-width:950px) {


  .btn-container {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    background: transparent;
    transition: 0.2s ease;
    text-align: left;
  }

  .fa-bars {
    display: initial;
    position: absolute;
    top: 0.7rem;
    right: 1.5rem;
  }
  .fa-cart-plus{
    position: absolute;
    top: 1.35rem;
    right: 5rem;
  }
  .btn-container.active {
    top: 100%;
  }

  .btn-container {
    padding: 1rem;
    border-left: 2px solid black;
    margin: 1rem;
    display: block;
  }

  .btn-container:hover {
    color: #fff;
    background: transparent;
    border: none;
  }

  .btn-container::after {
    display: none;
  }

  .filter-btn {
    background: whitesmoke;
    text-align: left;
    width: 100%;
    font-size: 1.3rem;
    text-transform: capitalize;
    margin: 0 0.55rem;
    letter-spacing: 1.1px;
    border-radius: 16.5px;
    padding: 0.3755rem 0.755rem;
    color: black;
    cursor: pointer;
    transition: opacity 0.4s ease-out;
  }

  #imgPharoh {
    width: 6rem;
    height: 6rem;
  }
}