@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@media (max-width:1023px) {
    header {
        padding: 12px 20px;
    }

    .navigation a {
        padding-left: 10px;
    }

    .title {
        font-size: 1.8em;
    }

    section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1em;
    }

    .main-content h3 {
        font-size: 1.6em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }


}

@media (max-width:641px) {
    body {
        font-size: 20px;
    }

    .main-content h2 {
        font-size: 0.8em;
    }

    .main-content h3 {
        font-size: 1.4em;
    }
}

@media (max-width:300px) {
    body {
        font-size: 10px;

    }
}

:root {
    --main-color: #ff6600;
}

* {
    padding: 0;
    margin: 0;
    font-family: cursive;
    box-sizing: border-box;
}

header {
    background-color: #D3D3D3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    position: fixed;
    padding: 10px 200px;
}

.logo {
    color: var(--main-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2em;
    font-family: cursive;
}

header nav a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 1em;
    padding-left: 30px;
}

section {

    padding: 100px 200px;
    position: relative;
}

.about h2 {
    padding-top: 30px;
    text-align: center;
}

.about p {
    text-align: center;
    font-size: 1.4rem;
    padding-top: 50px;
}

.skills {
    background-color: #ffffff;
}

.card {
    background-color: #fff;
    width: 21.25em;
    border-radius: 20px;
    padding: 25px;
    margin: 15px;
    box-shadow: 1px 4px 40px rgba(0, 0, 0, 0.4);
}

.card:hover {
    scale: 1.05;
}

.card .icon {
    text-align: center;
    font-weight: 700;
    font-size: 4em;
    color: var(--main-color);

}

.info {
    text-align: center;
}

.info h3 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

video {
    position: fixed;
    right: 0%;
    bottom: 0%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    backdrop-filter: blur(5px);
}

.projects-video {
    position: static;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: auto;
    z-index: -1;
    border-radius: 15px;
}

.projects-img {
    width: 100%;
    height: auto;
}

img {
    border-radius: 15px;
}

.projects-link {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 500;
}

.main {
    display: inline-block;
}

.profile-img {
    width: 40%;
    position: absolute;
    top: 50px;
    right: 10px;
}

.main h2 {
    color: black;
    font-weight: 600;
    font-size: 1.2em;

}

.skills h2 {
    color: var(--main-color);
    font-weight: 600;
    font-size: 1.8em;

}

.main {
    display: flex;
    align-items: center;
    top: 20px;
    left: -107px;
}

.main h3 {
    color: black;
}

.main span {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 2em;
    color: black;
}

.navbar-a {
    font-family: cursive;
    font-size: 1.1rem;
}

.main-btn {
    background-color: var(--main-color);
    color: #fff;
    border: hidden;
    border-radius: 15px;
    text-decoration: none;
    padding: 15px;
    font-size: 1.1rem;
    margin-bottom: 40px;
    text-align: center;
    display: inline-block;
    margin-top: 50px;
}


.social-icons {
    padding: 110px 0px 0px 0px;
}

.social-icons a {
    color: black;
    padding-right: 30px;
}

.main div a .fab {
    font-size: 1.5rem;
    font-weight: 500;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.titles {
    display: flex;
    justify-content: center;
    color: var(--main-color);
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 2em;
}

.back-drop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 0;
    /*backdrop-filter: blur(1px);*/

}

.about h2 {
    color: var(--main-color);
}

footer {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--main-color);
    font-weight: 500;
}

.navbar a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}

@media (max-width:991px) {
    header {
        padding: 10px 100px;
    }

    .profile-img {
        width: 35%;
    }

}

@media (max-width:881px) {
    .profile-img {
        width: 30%;
        position: absolute;
        right: 70px;
        top: 70px;
    }

    .skills,
    .about,
    footer {
        margin-left: 50px;
    }

    .profile-div {
        width: 80%;
    }

    header {
        padding: 10px 100px;
        position: fixed;
        top: 0;
    }
}

@media (max-width:768px) {
    .profile-img {
        width: 30%;
        position: absolute;
        right: 100px;
        top: 70px;
    }

    .profile-div {
        width: 70%;
    }

    .skills,
    .about {
        padding: 100px 100px;
    }

    .skills,
    .about {
        margin-left: 0px;
    }

    footer {
        margin-left: 70px;
    }

    .social-icons {
        padding-top: 50px;
    }

    .content,
    .about {
        margin-left: 70px;
    }

    .titles {
        margin-left: 70px;
    }

    header {
        display: flex;
        align-items: center;
    }

    header .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        background: #fff;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        transition: 0.2s ease;
        text-align: left;
    }

    #menu-icon {
        display: initial;
    }

    .navbar.active {
        top: 100%;
    }

    .navbar a {
        padding: 1rem;
        border-left: 2px solid var(--main-color);
        margin: 1rem;
        display: block;
    }

    .navbar a:hover {
        color: #fff;
        background: var(--main-color);
        border: none;
    }

    .navbar a::after {
        display: none;
    }


}

@media (max-width:568px) {
    .profile-text {
        font-size: 1rem;
        width: 250%;
        margin-top: 500px;
        margin-left: 0px;
    }

    .profile-img {
        display: block;
        width: 100%;
        padding-top: 0px;
        padding-left: 245px;
    }

    .profile-div {
        width: 100%;
    }

    #menu-icon {
        display: initial;
    }

    header {
        position: fixed;
        top: 0px;
        padding: 10px 30px;
        font-size: 1.6rem;
    }

    .skills,
    .about {
        padding: 0;
        margin-right: 65px;
        margin-top: 150px;
    }

    footer {
        margin-left: 20px;
    }
}

@media (max-width:450px) {
    .main {
        display: inline-flex;
        left: -100px;
    }

    #menu-icon {
        font-size: 40px;
    }

    .navbar a {
        font-size: 1.5rem;
    }

    .skills {
        padding: 0;
        margin-right: 0px;
        margin-left: 65px;
        margin-top: 150px;
    }

    .about {
        position: relative;
        left: 80px;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 150px;
    }

    footer {
        margin-left: 140px;
    }

}

@media (max-width:350px) {
    .main {
        display: flex;
        margin-top: 100px;
        margin-left: -5px;
    }

    .content {
        position: relative;
        left: 20px;
        margin-left: 0px;
    }

    .titles {
        margin-left: 25px;
    }

    .about {
        right: 40px;
        left: 0px;
        padding: 15px;
    }

    header {
        padding: 20px 30px;
        font-size: 1.3rem;
    }

    .profile-img {
        width: 140%;
        position: absolute;
        top: 50px;
        right: -38px;
    }

    .profile-img img {
        width: 100%;
    }

    .profile-text {
        margin-top: 320px;
        font-size: 0.8rem;
    }

    .profile-text h2 {
        width: 150%;
    }

    .profile-text h3 {
        position: absolute;
        right: 0px;
        width: 200px;
        font-size: 1.1rem;
    }

    .main {
        top: 0;
        margin-right: 100px;
    }

    .main-btn {
        margin-top: 150px;
        position: absolute;
        right: 20px;
        width: 200px;
    }

    .social-icons {
        margin-top: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 95px;
    }

    .about p {
        text-align: center;
    }

    .skills {
        right: 40px;
    }
}