@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}

.top-header {
    background-color: #bf8040;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 4.5rem;
    height: auto;
}



.big-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;

}

.order-container {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 22px;
    border-radius: 5.5px;
    text-align: center;
}

.done-h3-h4{
    color: whitesmoke;
}
input[type='text'] {
    margin: 1rem 1rem 0;
    padding: 11px;
    background-color: beige;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

li:last-child {
    border-bottom: none;
}

button {
    padding: 11px;
    background-color: rgb(151, 117, 69);
    color: #fff;
    border: none;
    border-radius: 5px;

}

#submitButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.submit {
    width: fit-content;
    height: 2.3rem;
}

.submit-link {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#imgPharoh {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    position: fixed;
    top: 0.5rem;
    left: 1rem;

}

#imgPharoh:hover {
    animation-name: rollOver;
    animation-duration: 0.8s;
    animation-iteration-count: 2;
}

@keyframes rollOver {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

a {
    text-decoration: none;
}

h2 {
    line-height: 1.25;
    color: whitesmoke;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.thanks-div {
    width: 25rem;
    height: 15rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.done-h3-h4 {
    font-size: 1.2rem;
    text-align: center;
}

@media (max-width:620px) {
    .rest-name {
        text-align: center;
        margin-left: 4em;
    }

}